<nav class="sticky-top navbar navbar-expand-lg navbar-light bg-info">
  <a class="navbar-brand font-weight-bold" href="{% url 'home' %}">SANAWAL</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Practice
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        {% if user.is_authenticated %}
          <a class="dropdown-item" href="{% url 'quizes:main-view' %}">Jee Mains</a>
          <a class="dropdown-item" href="#">Jee Advance</a>
          <a class="dropdown-item" href="#">Neet</a>
        {% else %}
          <a class="dropdown-item" href="{% url 'LogInOut:login' %}">Jee Mains</a>
          <a class="dropdown-item" href="{% url 'LogInOut:login' %}">Jee Advance</a>
          <a class="dropdown-item" href="{% url 'LogInOut:login' %}">Neet</a>
        {% endif %}
        </div>
      </li>
    </ul>
   
   {% if request.user.is_authenticated %}
    <div class="my-2 my-lg-0">
        <a class="mr-sm-2 text-light" href="{% url 'LogInOut:logout' %}">Logout</a>
    </div>
    {% else %}
    <div class="my-2 my-lg-0">
        <a class="mr-sm-2 text-light" href="{% url 'LogInOut:login' %}">Login</a>
    </div>
    <div class="my-2 my-lg-0">
        <a class="my-2 my-sm-0 text-light" href="{% url 'LogInOut:signup' %}">Sign Up</a>
    </div>
    {% endif %}
  </div>
</nav>